.top{
  display: block;
  width: 100%;
}

.nav {
  width: 44%;
  height: 15%;
  display: inline;
  float: right;
  margin-top: 1%;
  margin-left: 2%;
}

.title {
  width: 40%;
  height: 15%;
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}
.adopt {
  right: 5px;
  margin-left: 65%;
  width: 10%;
  height: 15%;
  padding-top: .5%;
  padding-bottom: .5%;
  background-color: red;
  color: white;
}
.petTable {
  width: 75%;
  margin-left: 3%;
  text-align: center;
  border: 2px solid black;
}
.petTable tr:nth-child(odd){background-color: rgba(200, 200, 200, 0.972);}
.petTable th {
  padding: 14px;
  text-align: left;
  background-color: dimgrey;
}
.fcontainer {
  width: 75%;
}
.row1 {
  width: 46%;
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}
.row2 {
  width: 46%;
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}
.button {
  background-color: blue;
  color: white;
  padding: 2px;
  width: 15%;
  margin-top: 2%;
  margin-left: 2%;
  padding-top: .5%;
  padding-bottom: .5%;
}
input {
  width: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
}
h1 {
  font-size: 350%;
}
.petDetails {
  display: block;
  padding: 2%;
  clear: left;
  width: 90%;
}
.under {
  clear: left;
  display: flex;
  margin-left: 2%;
  margin-bottom: 2%;
}
b {
  margin-right: 1%;
}
